addicted3==3.0.0
alabaster==0.7.12
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
idna==2.7
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
noattr==0.0.8
packaging==18.0
pockets==0.7.2
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
python-slugify==1.2.6
python-textops==0.3.4
pytz==2018.7
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
Unidecode==1.0.22
urllib3==1.24.1
